<!DOCTYPE html>
<html lang="en-us">

{% include "head.liquid" %}

<body>
	{% include "header.liquid" %}

	<main>
		<article>

			<header>

				<h1>{{ title }}</h1>

				<p>{{ description }}</p>

				{% if sections %}

					<nav class="page-nav">
						<h2>On This Page</h2>
							
						{% for section in sections %}
							{% if forloop.first %}
							<ul class="page-nav-listing {% if forloop.length > 7 %}long-list{% endif %}">
							{% endif %}
								<li><a href="{{ page.url }}#{{ section | slugify }}">{{ section }}</a></li>
							{% if forloop.last %}
							</ul>
							{% endif %}
						{% endfor %}
					</nav>

				{% endif %}

			</header>

			<div class="article-body">

				{{ content }}

			</div>

			<nav class="chapter-nav">

				<ol>

					{% assign previousPost = collections.sortedChapters | getPreviousCollectionItem: page %}
					{% assign nextPost = collections.sortedChapters | getNextCollectionItem: page %}

					{% if previousPost %}

						<li class="prev-chapter">
							<div>Previous Chapter:</div>
							<a href="{{ previousPost.url }}">{{ previousPost.data.chapter }}: {{ previousPost.data.title }}</a>
						</li>

					{% endif %}

					{% if nextPost %}

						<li class="next-chapter">
							<div>Next Chapter:</div>
							<a href="{{ nextPost.url }}">{{ nextPost.data.chapter }}: {{ nextPost.data.title }}</a>
						</li>
					{% endif %}

				</ol>

			</nav>

		</article>
	</main>

	{% include "footer.liquid" %}

</body>
</html>